@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2 class="text-center fst-italic">CARRITO</h2>
<hr style="height:4px;background-color: #FF5503; color: transparent;" class="col-1 mx-auto">

<div class="row container-fluid">
    <h3 class="text-center mt-5">Tu carrito aun esta vacio</h3>
    <a class=" col-xl-2  col-lg-4  col-md-6  col-sm-8  col-10 mx-auto btn btn-dark mt-5" asp-action="Index" asp-controller="Escaparate">Ir al Escaparate</a>
</div>