@model IEnumerable<SmashPoint.Models.Producto>
@{
    ViewData["Title"] = "Privacy";
}


<h2 class="text-center mt-4 fst-italic">Política de privacidad</h2>
<hr style="height:4px;background-color: #FF5503; color: transparent;" class="col-1 mx-auto">

<div class="container">
    <p>Esta política de privacidad establece cómo Smash Point recopila, utiliza y protege cualquier información que usted nos proporcione al utilizar este sitio web.</p>
    <p>
        Smash Point se compromete a garantizar que su privacidad esté protegida. Si le pedimos que proporcione cierta información por la cual pueda ser identificado al 
        utilizar este sitio web, puede estar seguro de que solo se utilizará de acuerdo con esta política de privacidad.
    </p>
    <p>
        Smash Point puede cambiar esta política de vez en cuando al actualizar esta página. 
        Debe consultar esta página de vez en cuando para asegurarse de que está satisfecho con los cambios. Esta política es efectiva a 
        partir del 16/02/2023.
    </p>
    <h5 class="fw-bold">
        Qué información recopilamos
    </h5>
    <p>
        Podemos recopilar la siguiente información:
    </p>
    <ul>
        <li>
            Nombre y apellido
        </li>
        <li>
            Información de contacto, incluida la dirección de correo electrónico
        </li>
        <li>
            Información demográfica, como el código postal, preferencias e intereses
        </li>
        <li>
            Otra información relevante para encuestas y/o ofertas para el cliente
        </li>
    </ul>

    <h5 class="fw-bold">
        Qué hacemos con la información que recopilamos
    </h5>
    <p>
        Smash Point requiere esta información para comprender sus necesidades y brindarle un mejor servicio, en particular por las siguientes razones:
    </p>

    <ul>
        <li>
            Mantenimiento de registros internos.
        </li>
        <li>
            Mejora de nuestros productos y servicios.
        </li>
        <li>
            Envío periódico de correos electrónicos promocionales sobre nuevos productos, ofertas especiales u otra información que consideremos que puede ser de su interés.
        </li>
        <li>
            De vez en cuando, también podemos utilizar su información para contactarlo con fines de investigación de mercado. Podemos contactarlo por correo electrónico, teléfono, fax o correo postal.
        </li>
    </ul>

    <h5 class="fw-bold">
        Seguridad
    </h5>
    <p>
        Estamos comprometidos a garantizar que su información esté segura. Con el fin de evitar el acceso no autorizado o divulgación, hemos puesto en marcha procedimientos físicos, electrónicos y administrativos adecuados para salvaguardar y asegurar la información que recopilamos en línea.
    </p>

    <h5 class="fw-bold">
        Cómo utilizamos las cookies
    </h5>

    <p>
        Una cookie es un pequeño archivo que solicita permiso para colocarse en el disco duro de su ordenador. Una vez que acepta, el archivo se agrega y la cookie ayuda a analizar el tráfico web o le permite saber cuándo visita un sitio en particular. Las cookies permiten que las aplicaciones web le respondan como individuo. La aplicación web puede adaptar su operación a sus necesidades, gustos y disgustos mediante la recopilación y el recuerdo de información sobre sus preferencias.
    </p>

    <p>
        Smash Point utiliza cookies de registro de tráfico para identificar qué páginas se están utilizando. Esto nos ayuda a analizar datos sobre el tráfico de la página web y mejorar nuestro sitio web para adaptarlo a las necesidades de los clientes. Solo utilizamos esta información para fines de análisis estadístico y luego los datos se eliminan del sistema.
    </p>
    <p class="mb-3">
        En general, las cookies nos ayudan a brindarle un mejor sitio web, permitiéndonos monitorear qué páginas le resultan útiles y cuáles no. Una cookie de ninguna manera nos da acceso a su ordenador ni a ninguna
    </p>
</div>
